In [83]:
import pandas as pd
import numpy as np

In [84]:
#for reading the csv file and displaying info
df = pd.read_csv('crx.xls', header=None)
df.shape
df.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12   13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43  560  +
2  a   24.5  0.500  u  g  q  h  1.50  t  f   0  f  g  280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120    0  +

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    object
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [86]:
#for replacing missing values
df = df.replace('?', np.nan)

In [87]:
df.nunique()

0       2
1     349
2     215
3       3
4       3
5      14
6       9
7     132
8       2
9       2
10     23
11      2
12      3
13    170
14    240
15      2
dtype: int64

In [88]:
# seperating test datas and input datas
main_data = df
df = df[:590][:]

In [89]:
def is_num(x):
    try:
        float(x)
        return True
    except ValueError:
        return False

def normalize_array(arr):
    tmp = arr.copy()
    min = tmp.min()
    max = tmp.max()
    dis = max - min
    arr_len = len(tmp)
    for i in range (arr_len):
        tmp[i] -= min
        tmp[i] /= dis
    return tmp
    
# converting all columns to numbers and normalize them
for i in range (16):
    if (df[i].dtype == float or df[i].dtype == int):
        df[i] = df[i].astype(float)
        df[i] = normalize_array(df[i])
        continue
    c = df[i].mode().values[0]
    if (type(c) == int or type(c) == float or is_num(c)):
        df[i] = pd.to_numeric(df[i], errors='coerce')
        if (df[i].isna().any()):
            avg = np.nanmean(df[i])
            df[i] = df[i].where(df[i].notna(), avg)
            df.iloc[:, i] = normalize_array(df[i])
    else:
        df[i] = df[i].where(df[i].notna(), c)
        u_arr = df[i].unique()
        n_arr = np.arange(len(u_arr))
        n_arr = normalize_array(n_arr)
        mapping = dict(zip(u_arr, n_arr))
        df[i] = df[i].map(mapping)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       590 non-null    int64
 1   1       590 non-null    float64
 2   2       590 non-null    float64
 3   3       590 non-null    int64
 4   4       590 non-null    int64
 5   5       590 non-null    int64
 6   6       590 non-null    int64
 7   7       590 non-null    float64
 8   8       590 non-null    int64
 9   9       590 non-null    int64
 10  10      590 non-null    float64
 11  11      590 non-null    int64
 12  12      590 non-null    int64
 13  13      590 non-null    float64
 14  14      590 non-null    float64
 15  15      590 non-null    int64
dtypes: float64(6), int64(10)
memory usage: 73.9 KB

In [91]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0,0.256842,0.000000,0,0,0,0,0.043860,0,0,0.014925,0,0,0.1010,0.00000,0
1,1,0.675489,0.159286,0,0,0,0,0.106667,0,0,0.089552,0,0,0.0215,0.00560,0
2,1,0.161654,0.017857,0,0,0,0,0.052632,0,1,0.000000,0,0,0.1400,0.00824,0
3,0,0.211729,0.055000,0,0,0,0,0.131579,0,0,0.074627,1,0,0.0500,0.00003,0
4,0,0.096541,0.200893,0,0,0,0,0.060000,0,1,0.000000,0,0,0.0600,0.00000,0

In [ ]:
sum = df[1].isna().sum()
sum = sum / len(df[1]) * 100
sum

In [ ]:
# for getting datas 
datas = df[0].to_numpy()
datas