In [1]:
import pandas as pd
import numpy as np

In [2]:
#for reading the csv file and displaying info
main_df = pd.read_csv('crx.xls', header=None)
main_df.shape
main_df.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12   13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43  560  +
2  a   24.5  0.500  u  g  q  h  1.50  t  f   0  f  g  280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120    0  +

In [3]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    object
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [4]:
#for replacing missing values
main_df = main_df.replace('?', np.nan)

In [5]:
main_df.nunique()

0       2
1     349
2     215
3       3
4       3
5      14
6       9
7     132
8       2
9       2
10     23
11      2
12      3
13    170
14    240
15      2
dtype: int64

In [6]:
# seperating test datas and input datas
test_data = main_df.copy()
test_data = main_df[590:][:].reset_index(drop=True)
df = main_df[:590 ][:]

In [7]:
def is_num(x):
    try:
        float(x)
        return True
    except ValueError:
        return False

def normalize_array(arr):
    tmp = arr.copy()
    min = tmp.min()
    max = tmp.max()
    dis = max - min
    arr_len = len(tmp)
    for i in range (arr_len):
        tmp[i] -= min
        tmp[i] /= dis
    return tmp
    
# converting all columns to numbers and normalize them (preprocessing dataset)
def convert_normalize_data(df):
    for i in range (16):
        if (df[i].dtype == float or df[i].dtype == int):
            df[i] = df[i].astype(float)
            df[i] = normalize_array(df[i])
            continue
        c = df[i].mode().values[0]
        if (type(c) == int or type(c) == float or is_num(c)):
            df[i] = pd.to_numeric(df[i], errors='coerce')
            if (df[i].isna().any()):
                avg = np.nanmean(df[i])
                df[i] = df[i].where(df[i].notna(), avg)
                df.iloc[:, i] = normalize_array(df[i])
        else:
            df[i] = df[i].where(df[i].notna(), c)
            u_arr = df[i].unique()
            n_arr = np.arange(len(u_arr))
            n_arr = normalize_array(n_arr)
            mapping = dict(zip(u_arr, n_arr))
            df[i] = df[i].map(mapping)
    return df
            
df = convert_normalize_data(df)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       590 non-null    int64
 1   1       590 non-null    float64
 2   2       590 non-null    float64
 3   3       590 non-null    int64
 4   4       590 non-null    int64
 5   5       590 non-null    int64
 6   6       590 non-null    int64
 7   7       590 non-null    float64
 8   8       590 non-null    int64
 9   9       590 non-null    int64
 10  10      590 non-null    float64
 11  11      590 non-null    int64
 12  12      590 non-null    int64
 13  13      590 non-null    float64
 14  14      590 non-null    float64
 15  15      590 non-null    int64
dtypes: float64(6), int64(10)
memory usage: 73.9 KB

In [9]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.00000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000
mean,0.301695,0.276014,0.177358,0.003390,0.003390,0.016949,0.005085,0.084944,0.40678,0.545763,0.039868,0.452542,0.010169,0.091753,0.011567,0.503390
std,0.459383,0.183809,0.182905,0.058173,0.058173,0.129190,0.071186,0.123948,0.49165,0.498324,0.076709,0.498165,0.100415,0.089228,0.056186,0.500413
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.136541,0.038750,0.000000,0.000000,0.000000,0.000000,0.007368,0.00000,0.000000,0.000000,0.000000,0.000000,0.035000,0.000000,0.000000
50%,0.000000,0.225564,0.107143,0.000000,0.000000,0.000000,0.000000,0.038070,0.00000,1.000000,0.000000,0.000000,0.000000,0.080000,0.000055,1.000000
75%,1.000000,0.380602,0.271964,0.000000,0.000000,0.000000,0.000000,0.105263,1.00000,1.000000,0.044776,1.000000,0.000000,0.136750,0.005000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
#getting features and labels for input_data
features = df.iloc[:, :15]
labels = df.iloc[:, 15]
features

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0,0.256842,0.000000,0,0,0,0,0.043860,0,0,0.014925,0,0,0.1010,0.00000
1,1,0.675489,0.159286,0,0,0,0,0.106667,0,0,0.089552,0,0,0.0215,0.00560
2,1,0.161654,0.017857,0,0,0,0,0.052632,0,1,0.000000,0,0,0.1400,0.00824
3,0,0.211729,0.055000,0,0,0,0,0.131579,0,0,0.074627,1,0,0.0500,0.00003
4,0,0.096541,0.200893,0,0,0,0,0.060000,0,1,0.000000,0,0,0.0600,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,0,0.897293,0.633929,0,0,0,0,0.000000,0,1,0.000000,1,0,0.0000,0.00000
586,0,0.756842,0.714286,0,0,0,0,0.614035,0,0,0.134328,1,0,0.0000,0.01000
587,0,0.568872,0.535714,0,0,0,0,0.298246,0,0,0.134328,0,0,0.0000,0.00000
588,0,0.194286,0.062500,0,0,0,0,0.035088,0,0,0.074627,1,0,0.0800,0.05777
589,0,0.174135,0.020714,0,0,0,0,0.010175,0,0,0.104478,1,0,0.0480,0.05124

In [11]:
#logistic regression variables and algorithm

epoches = 5000
learning_rate = 0.1
cost_history = []
thetas = np.zeros(features.shape[1])
bias = 0

def sigmoid(z):
    return 1 / (1 + np.exp(-z))

def logreg_compute_gradiant(features, lables, thetas, bias):
    m, n = features.shape
    z = np.dot(features, thetas) + bias 
    predictions = sigmoid(z)
    dw = (1/m) * np.dot(features.T, (predictions - lables))
    db = (1/m) * np.sum(predictions - lables)
    thetas = thetas - learning_rate * dw
    bias = bias - learning_rate * db
    return thetas, bias

def logreg_compute_cost(features, lables, thetas, bias):
    m = len(lables)
    z = np.dot(features, thetas) + bias
    prediction = sigmoid(z)
    epsilon = 1e-15
    prediction = np.clip(prediction, epsilon, 1 - epsilon)
    cost = -np.mean(lables * np.log(prediction) + (1-lables) * np.log(1-prediction))
    return cost

for epoch in range (epoches):
    thetas, bias = logreg_compute_gradiant(features, labels, thetas, bias)
    cost = logreg_compute_cost(features, labels, thetas, bias)
    cost_history.append(cost)

thetas

array([-0.09342807, -0.16053312, -0.46110121, -1.09567183, -1.09567183,
        0.27921242, -0.79822378, -1.37158308,  3.54192229,  1.26992688,
       -1.01949742,  0.24005769, -1.56584764,  0.62210231, -1.11491033])

In [12]:
# precision for input_data
z = np.dot(features, thetas) + bias
predictions = sigmoid(z)
success = 0
for i in range (len(predictions)):
    if (predictions[i] >= 0.5):
        if (labels[i] == 1):
            success += 1
    else:
        if (labels[i] == 0):
            success += 1
print("success rate :", success / len(predictions) * 100)

success rate : 84.91525423728814

In [15]:
# getting features and labels for test datas
test_data = convert_normalize_data(test_data)
test_features = test_data.iloc[:, :15]
test_labels = test_data.iloc[:, 15]

In [16]:
# precision for test datas
z = np.dot(test_features, thetas) + bias
predictions = sigmoid(z)
success = 0
for i in range (len(predictions)):
    if (predictions[i] >= 0.5):
        if (test_labels[i] == 1):
            success += 1
    else:
        if (test_labels[i] == 0):
            success += 1
print("success rate :", success / len(predictions) * 100)

success rate : 86.0